<!--Mostrará Ventas Totales, Artículos Vendido, Valor del Inventario, Valoración Media
Además,
Ingresos Mensuales (Line Chart): Una línea que muestre cuánto dinero ha ganado cada mes. Es la motivación principal del vendedor.
Ventas por Categoría (Doughnut Chart): ¿Qué vende más? ¿Ropa, electrónica, muebles? Esto ayuda al usuario a saber en qué nicho tiene más éxito.
Visitas vs. Interés (Bar Chart): Comparar cuántas personas ven sus anuncios frente a cuántas le escriben o marcan como favorito. Si tiene muchas visitas pero pocas ventas, sabrá que tiene que bajar el precio.
-->

<!-- Posibilidad de descargar estos gráficos como pdf, usar boton https://uiverse.io/Na3ar-17/evil-dragon-24-->