{{#products}}
<div class="col-12 col-md-6 col-lg-3">
    <a href="/info-product-page/{{id}}" class="text-decoration-none text-dark">
        <div class="clay-card">
            <div class="img-container">
                <img src="/product-images/{{id}}" alt="{{name}}">
            </div>
            <div class="product-details">
                <h3>{{name}}</h3>
                <p class="price">{{formattedPrice}}€</p>
            </div>
        </div>
    </a>
</div>
{{/products}}

{{#isLast}}
<div id="no-more-marker" style="display:none;"></div>
{{/isLast}}